*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(238, 236, 227);
    font-family: 'Dancing Script', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
}
/****************bootstrap*/
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
}
@keyframes TituloPortada {
    0%{
        margin-top: -500px;
    }
    85%{
        margin: 100px;
        
        scale: 1.01;
    }
    90%{
        margin: 90px;
    }
    100%{
        margin: 100px;
    }
}
.navbar-toggler{
    position: absolute;
    top: -120px;

}