//?++++++++++++++++MEDIA QUERY 1300PX
@media (max-width: 1300px) {
    //**************HEADER
    header{
        
        .logo{
            padding-right: 50px;
            .logoIconos{
                width: 40%;
            }
        }
        
    }
    //**********FOOTER
    footer{
        font-size: 20px;
    }
    //************MAIN INDEX
        main{
            section{
                .instucciones{
                    width: 95%;
                    .instruccionesTexto{
                        width: 600px;
                    }
                    .instruccionesImg{
                        img{
                            width: 350px;
                        }
                        a{
                            left: 130px;
                        }
                    }
                }
                .porqueElegirnos{
                    height: 200px;
                    padding: 8px;
                    .porqueElegirnosImg{
            
                        img{
                            width: 120px;
                            margin-right: 20px;
                        }
                    }
                    .porqueElegirnosText{
        
                        ul{
                            
                            li{
                                list-style: none;
                                margin-bottom: 20px;
                                margin-left: 20px;
                                width: 100px;
                            }
                        }
                    }
                }
            }
        }
      //!+++++++++++++++++acerca de nosotros
     //************MAIN 

        main{
            section{
                .equipo{
                    img{
                        width: 100%;
                    }
                    .informacionNosotros{
                        font-size: 23px;
                    }
                }
                
            }
        
        }
}
//?++++++++++++++++MEDIA QUERY 1250PX
@media (max-width: 1250px) {
    //!+++++++++++++++++INDEX


    //!+++++++++++++++++CONTACTO
    //*++***************MAIN
    main{
        .datosContacto{
            flex-direction: column;
            width: 90%;
            height: 100%;
            padding-bottom: 100px;
            .contacto{
                h3{
                    font-size: 25px;
                }
                .redes{
                    ul{
                        width: 40%;
                    }
                }
            }
            .informacion{
                width: 100%;
                .formDatos{
                    .datos{
                        width: 100%;
                        input{
                        width: 100%;
                        border: 0;
                        background-color: rgba(255, 255, 255, 0.096);
                        border-bottom: black 1px solid;
                        }
                    }
                    textarea{
                        font-size: 20px;
                        width: 70%;
                    }
                }
            }
        }
    }
      //!+++++++++++++++++PROYECTOS
     //************MAIN 
     main{
        .proyectos{
            .proyecto{
                width: 35%;
            }
        }
    }
}

//?++++++++++++++++MEDIA QUERY 1060PX
@media (max-width: 1060px) {
     //************HEADER
     header{
        .logo{
            .logoIconos{
                width: 50%;
            }
        }
    }
    //!+++++++++++++++++INDEX
     //************MAIN 
    main{
        section{
            .instucciones{
                width: 80%;
                .instruccionesTexto{
                    width: 400px;
                }
                .instruccionesImg{
                    img{
                        width: 300px;
                    }
                    a{
                        left: 130px;
                    }
                }
            }
        }
    }
      //!+++++++++++++++++acerca de nosotros
     //************MAIN 

     main{
        section{
            .equipo{
                img{
                    width: 100%;
                }
                .informacionNosotros{
                    font-size: 18px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .navbar-toggler{
        position: absolute;
        top: -55px;
        right: 0;
    
    }
}
//?++++++++++++++++MEDIA QUERY 855PX
@media (max-width: 855px) {
     //************HEADER
    .navbar-toggler{
        top: -120px;
    }
    header{
        .logo{
            @include flex(flex, space-between, center);
            flex-direction: column;
            margin-right: 0px;
            padding: 0;
            .logoIconos{
                width: 90%;
                justify-content: center;
                margin: auto;
                }
            }
        nav{
            .container-fluid{
                div{
                    ul.navbar-nav{
                        flex-direction: column;
                        justify-content:initial;
                        align-items: center;
                        overflow: hidden;
                        padding: 10px 0 0 20px;
                        transition:ease .5s;
                    }
                }
            }
        }
    }
    //**********FOOTER
    footer{
        font-size: 20px;
        padding-left: 30px;
        height: 300px;
        .footerRedes{
            ul{
                @include flex(flex, space-around, center);
                margin: auto;
                width: 100%;
                margin-right: 10px;
                padding-left: 0;
                a{
                    img{
                        width: 30px;
                    }
                }
            }
        }
    }
     //!+++++++++++++++++INDEX
     //************MAIN 
     main{
        section{
            .instucciones{
                @include flex(flex, space-between, center);
                margin: auto;
                width: 95%;
                flex-direction: column;
                .instruccionesTexto{
                    width: 95%;
                    font-size: 20px;
                }
                .instruccionesImg{
                    img{
                        width: 300px;
                    }
                    a{
                        padding: 10px;
                        font-size: 20px;
                        margin-bottom: 40px;
                        bottom: -50px;
                        left: 40%;
                    }
                }
                .cambiarInstruccion{
                    order: 1;
                }
            }
            .porqueElegirnos{
                width: 100%;
                height: 200px;
                overflow: scroll;
                .porqueElegirnosImg{
                    img{
                        width: 120px;
                        margin-right: 0px;
                    }
                }
                .porqueElegirnosText{
                    ul{
                        padding-left: 0;
                        li{
                            list-style: none;
                            margin-bottom: 20px;
                            margin-left: 35px;
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
        //!+++++++++++++++++CONTACTO
    //*++***************MAIN
    main{
        .datosContacto{
            .informacion{
                .formDatos{
                    @include flex(flex, center, normal);
                    flex-direction: column;
                    position: relative;
                    .datos{
                        @include flex(flex, center, center);
                        flex-direction: column;
                        margin: auto;
                        input{
                            font-size: 25px;
                            width: 100%;
                            margin-bottom: 25px;
                            background-color: rgba(239, 234, 234, 0.197);
                            border-bottom: black 1px solid;
                        }
                    }
                    textarea{
                        width: 95%;
                        margin: auto;
                    }
                    input.botonContacto{
                        position: absolute;
                        bottom: -70px;
                        right: 33%;
                        width: 33%;
                    }
                }
            }
        }
    }
    //!+++++++++++++++++IMAGENES
    //*++***************MAIN
    main{
        h1{
            text-align: center;
            margin: 0 10px;
        }
        .galeria{
            /**filas*/
            grid-template-rows: 400px 400px 400px 400px;
            /**columna*/
            grid-template-columns: 50% 25% 25%;
            grid-template-areas: 
            "img1 img2 img2"
            "img4 img4 img4"
            "img6 img6 img6"
            "img8 img8 img8"
            "img8 img8 img8"
            "img3 img5 img5"
            "img7 img9 img9"
            ;
        }
    }
         //!+++++++++++++++++PROYECTOS
     //************MAIN 
     main{
        .proyectos{
            .proyecto{
                margin: 10%;
                width: 100%;
            }
        }
    }
              //!+++++++++++++++++acerca de nosotros
     //************MAIN 

     main{
        section{
            .equipo{
                width: 98%;
                height: 500px;
                img{
                    width: 100%;
                    height: 100%;
                }
                .informacionNosotros{
                    font-size: 20px;
                    padding: 10px 10px;
                }
            }
        }
    }
}
//?++++++++++++++++MEDIA QUERY 550PX
@media (max-width: 550px) {
        //**************HEADER
        header{
        
            .logo{
                .logoIconos{
                    input{
                        font-size: 25px;
                    }
                }
            }
        }
         //!+++++++++++++++++INDEX
     //************MAIN 
     main{
        section{
            .portada{
                h2{
                    font-size: 30px;
                }
                a{
                    padding: 10px;
                    font-size: 20px;
                }
            }
            .porqueElegirnos{
                .porqueElegirnosImg{
                    img{
                        width: 70px;
                    }
                }
                .porqueElegirnosText{
                    ul{
                        padding-left: 0;
                        li{
                            font-size: 12px;
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
    //!+++++++++++++++++PROYECTOS
     //************MAIN 
        main{
            .proyectos{
                text-align: center;
                width: 95%;
                margin: auto;
            }
        }
    
            //!+++++++++++++++++CONTACTO
    //*++***************MAIN
    main{
        .datosContacto{
            .contacto{
                .redes{
                    ul{
                        width: 80%;
                    }
                }
            }
        }
    }
                  //!+++++++++++++++++acerca de nosotros
     //************MAIN 

     main{
        section{
            .equipo{
                img{
                    width: 160%;
                }
                .informacionNosotros{
                    font-size: 17px;
                    padding: 10px 10px;
                }
            }
        }
    }
}
