//*VARIABLES
$transiciones: all 500ms ease-out;
//transition: $transiciones;

//* LISTAS
$colores_naranja:
rgb(236, 194, 126),
rgb(235, 172, 70),
rgb(243, 166, 43),
rgb(105, 79, 37),
linear-gradient(rgb(236, 198, 138),rgb(235, 172, 70));
//background-color: nth($colores_naranja, 1);

//*EXTEND
%botones{
    background-color: nth($colores_naranja, 1);
    color: black;
    transition: $transiciones;
    box-shadow: .5px .5px 10px;
    font-size: 30px;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
}
//@extend %hover-botones;
%hover-botones{
    background-color: nth($colores_naranja, 3);
    color: white;
    box-shadow: 2px 2px 10px;
}

//* MIXIN
@mixin flex($flex, $justify, $alingn){
    display: $flex;
    justify-content: $justify;
    align-items: $alingn;
}

//@include flex(flex, center, center);d