footer{
    margin-top: 30px;
    @include flex(flex, space-between, center);
    height: 200px;
    background: nth($colores_naranja, 5);
    font-size: 30px;
    padding: 0 5%;
    .footerEnlaces{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        a{
            text-decoration: none;
            color: nth($colores_naranja, 4);
        }
    }
    .footerRedes{

        ul{
            display: flex;
            margin: auto;
            width: 50%;
            justify-content: space-between;
            a{
                img{
                    width: 35px;
                    transition: $transiciones;
                    &:hover{
                        scale: 1.1;

                    }
                }
            }
        }
    }
}